<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{{title}}</title>
  <meta name="description" content="{{description}}">
  <link rel="preconnect" href="https://cdn.prod.website-files.com" crossorigin="anonymous">
{{swiperCss}}
  <link rel="stylesheet" href="./styles.css">
</head>
<body>
  <div class="page-wrapper">
{{beforeHeader}}
{{header}}

{{mobileMenu}}

{{searchModal}}

{{main}}
{{partners}}
{{footer}}
  </div>
{{swiperJs}}
  <script defer src="./script.js"></script>
</body>
</html>
